<div>
  <div style="text-align:center;">
    <img src="https://www.captaincontrat.com/hubfs/logo-captaincontrat-4.png#keepProtocol" alt="Image" style="max-width: 100%; height: auto;">
    <h2>Tech Challenge by Christopher Marlier</h3>
  </div>

  <h3>Welcome to the CaptainContrat Arena</h1>
  <%= link_to "Read the rules and specifications", '/rules' %>

  <div style="text-align: center; margin-top:40px;">
    <%= link_to "Create warrior", new_warrior_path, class: "btn btn-custom" %>
    <%= link_to "FIGHT!", new_fight_path, class: "btn btn-custom" %>
    <%= link_to "See fights", fights_path, class: "btn btn-custom" %>
    <%= link_to "See warriors", warriors_path, class: "btn btn-custom" %>

  </div>

  <h3 style="margin-top: 40px;">Last fights</h3>
  <%= render partial: "/shared/list_fights", locals: {object: @fights} %>
</div>