<!-- new.html.erb -->

<h1>Create your Warrior</h1>

<%= form_with(model: @warrior, local: true) do |form| %>
  <% if @warrior.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warrior.errors.count, "error") %> prohibited this warrior from being saved:</h2>

      <ul>
      <% @warrior.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p style="margin-top: 40px;">You have 10 points to share between attack and defense.</p>

  <div class="input-container">
    <%= form.label :attack %>
    <%= form.number_field :attack, in: 0..10%>
  </div>

  <div class="input-container">
    <%= form.label :defense %>
    <%= form.number_field :defense, in: 0..10%>
  </div>

  <div class="input-container">
    <%= form.submit "Créer Warrior" %>
  </div>
<% end %>

<%= render partial: "/shared/home_link"%>